<footer>
    <h3>Nous contacter</h3>
    <div id="pages">
        <div class="row">
            <div class="col-sm-4">
                <img src="/assets/images/terrasse_footer.jpg" />
            </div>
            <div class="col-sm-4">
                <iframe src="https://maps.google.com/maps?q={{ contact.address|replace({' ': '+'}) ~ '+' ~ contact.zipcode }}&hl=fr;&amp;output=embed" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4">
                <a href="/dishes">Plats & Desserts</a>
                <a href="/grower">Partenaires</a>
                <a href="/LegalNotice">Mentions légales</a>
            </div>
        </div>
    </div>
    <div id="coordonnees">
        <div class="row">
            <div class="col-sm-4 text-center">
                <address class="">
                    {{ contact.address }}<br/>
                    {{ contact.zipcode }} {{ contact.city }}<br/>
                    <a href="tel:{{ contact.phonenumber }}">{{ contact.getPhoneNumberFormated }}</a>
                </address>
            </div>
            <div class="col text-center d-sm-block d-md-none">
                <a class="btn btn-success" href="https://maps.google.com/maps?q={{ contact.address|replace({' ': '+'}) ~ '+' ~ contact.zipcode }}">Trouvez-nous</a>
            </div>
            <div class="col-sm-4">
                {% for i in 0..schedules|length - 1 %}
                    <div class="row">
                        <div class="col-5">
                            {{ schedules[i].day }}
                        </div>
                        <div class="col-7">
                            {% if schedules[i].timeSlot1 == '00:00 - 00:00' %}
                                Fermé
                            {% else %}
                                {{ schedules[i].timeSlot1 }}
                                {{ schedules[i].timeSlot2 }}
                            {% endif %}
                        </div>
                    </div>
                    {% if loop.last == false %}
                        <div class="row">
                            <div class="col">
                                <p class="mx-auto my-1 " style="border-bottom: 1px dotted #FFF;width: 20%;"></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <h4>Suivez-nous</h4>
                <a href="https://www.facebook.com/OhTerroirFastGood/"><i class="fab fa-facebook-f fa-4x"></i></a>
                <a href="https://www.tripadvisor.fr/Restaurant_Review-g187129-d3686919-Reviews-Oh_Terroir_version_Fast_Good-Orleans_Loiret_Centre_Val_de_Loire.html"><i class="fab fa-tripadvisor fa-4x"></i></a>
            </div>
        </div>
    </div>
</footer>